<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Payments System Web Application</display-name>
  <filter>
  	<filter-name>RequestDispatcher</filter-name>
  	<display-name>Request Dispatcher</display-name>
  	<description></description>
  	<filter-class>by.it.academy.my.web.filter.RequestDispatcher</filter-class>
  </filter>
  <filter>
  	<filter-name>AuthFilter</filter-name>
  	<display-name>AuthFilter</display-name>
  	<description></description>
  	<filter-class>by.it.academy.my.web.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>RequestDispatcher</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthFilter</filter-name>
  	<servlet-name>FrontController</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<display-name>Front Controller</display-name>
  	<description>Front controller for all incoming requests.</description>
  	<servlet-class>by.it.academy.my.web.servlet.FrontController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyTestServlet</servlet-name>
  	<display-name>MyTestServlet</display-name>
  	<description></description>
  	<servlet-class>by.it.academy.my.web.servlet.MyTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>/pages/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyTestServlet</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <!--
  <servlet>
  	<servlet-name>MyTestServlet</servlet-name>
  	<display-name>MyTestServlet</display-name>
  	<description></description>
  	<servlet-class>by.it.academy.my.web.servlet.MyTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyTestServlet</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  -->
  <resource-ref>
  	<description>MySQL DB Connection Pool</description>
  	<res-ref-name>jdbc/DB_Payments</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>
